*.class
*.log

# sbt specific
.cache*
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/project/project/
/project/target/

.scala_dependencies
.worksheet
/RUNNING_PID
/logs/
/project/*-shim.sbt

.classpath
.project
.settings
/bin/

.idea
.gradle
.build
